@model BTLW.Models.HoaDonNhap

@{
    ViewData["Title"] = "SuaHDN";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa @ViewBag.SoHDN</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaHDN">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SoHdn" />
            <div class="form-group">
                <label class="control-label">Mã NV</label>
                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mã NCC</label>
                <select asp-for="MaNcc" class="form-control" asp-items="ViewBag.MaNcc"></select>
                <span asp-validation-for="MaNcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày nhập</label>
                <input asp-for="NgayNhap" class="form-control" />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tổng tiền</label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


