@model BTLW.Models.TaiKhoan

@{
    ViewData["Title"] = "ThemTaiKhoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemTaiKhoan</h1>
<p>TempData["Message1"]</p>
<h4>TaiKhoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemTaiKhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTk" class="control-label"></label>
                <input asp-for="TenTk" class="form-control" />
                <span asp-validation-for="TenTk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiTk" class="control-label"></label>
                <select asp-for="LoaiTk" class="form-control" asp-items="ViewBag.MaLoai"></select>
                @* <input asp-for="LoaiTk" class="form-control"  /> *@
                <span asp-validation-for="LoaiTk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
